/* bunny.css */
body {
    margin: 0;
    height: 100vh;
    background-image: url('grass_bg.png'); /* Set the image */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-repeat: no-repeat; /* Prevent tiling */
    background-position: center; /* Center the image */
    font-family: Arial, sans-serif; /* Optional: Set a default font */
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to move to the next line if needed */
    justify-content: space-between;
}
.flex-item {
    flex: 1 1 300px; /* Items take up equal space, minimum 300px */
    margin: 10px;
}

.bunny {
    position: absolute;
    bottom: 42%; /* Adjust vertical position */
    left: 0;
    width: 400px; /* Increase size of the bunny */
    animation: moveAcrossScreen 7.6s linear forwards; /* Play once and stop at the end */
}

@keyframes moveAcrossScreen {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(34vw); /* Move across the screen and stop */
    }
}

/* Import the PixelColeco font */
@font-face {
    font-family: 'PixelColeco';
    src: url('PixelColeco-4vJW.ttf') format('truetype');
}

/* Seal Text Styling */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.bunny-text {
    position: absolute;
    bottom: 65%; /* Place above the seal */
    right: 600px;
    transform: translateX(-50%);
    font-family: 'PixelColeco', sans-serif;
    font-size: 2vw; /* Responsive size */
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    opacity: 0; /* Initially hidden */
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 9s; /* Delays fade-in by 6 seconds */
}




